In [1]:
import pandas as pd
pd.set_option('display.max_columns', None)

In [2]:
df = pd.read_csv('melb_data.csv')
df.head()

,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,Postcode,Bedroom2,Bathroom,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount
0,Abbotsford,85 Turner St,2,h,1480000.0,S,Biggin,3/12/2016,2.5,3067.0,2.0,1.0,1.0,202.0,NaN,NaN,Yarra,-37.7996,144.9984,Northern Metropolitan,4019.0
1,Abbotsford,25 Bloomburg St,2,h,1035000.0,S,Biggin,4/02/2016,2.5,3067.0,2.0,1.0,0.0,156.0,79.0,1900.0,Yarra,-37.8079,144.9934,Northern Metropolitan,4019.0
2,Abbotsford,5 Charles St,3,h,1465000.0,SP,Biggin,4/03/2017,2.5,3067.0,3.0,2.0,0.0,134.0,150.0,1900.0,Yarra,-37.8093,144.9944,Northern Metropolitan,4019.0
3,Abbotsford,40 Federation La,3,h,850000.0,PI,Biggin,4/03/2017,2.5,3067.0,3.0,2.0,1.0,94.0,NaN,NaN,Yarra,-37.7969,144.9969,Northern Metropolitan,4019.0
4,Abbotsford,55a Park St,4,h,1600000.0,VB,Nelson,4/06/2016,2.5,3067.0,3.0,1.0,2.0,120.0,142.0,2014.0,Yarra,-37.8072,144.9941,Northern Metropolitan,4019.0

# Nomor 1

**Tampilkan tabel berisi kolom statistics descriptive rooms, distance, landsize, dan price**

In [3]:
df.describe()[['Rooms','Distance','Landsize','Price']]

              Rooms      Distance       Landsize         Price
count  13580.000000  13580.000000   13580.000000  1.358000e+04
mean       2.937997     10.137776     558.416127  1.075684e+06
std        0.955748      5.868725    3990.669241  6.393107e+05
min        1.000000      0.000000       0.000000  8.500000e+04
25%        2.000000      6.100000     177.000000  6.500000e+05
50%        3.000000      9.200000     440.000000  9.030000e+05
75%        3.000000     13.000000     651.000000  1.330000e+06
max       10.000000     48.100000  433014.000000  9.000000e+06

# Nomor 2

**a. Jumlah room pada harga rumah yang paling mahal**

In [4]:
df.describe().loc['max'][['Rooms','Price']]

Rooms         10.0
Price    9000000.0
Name: max, dtype: float64

**b. Rata-rata harga rumah yg jarak ke CBD (Distance) terdekat**

In [8]:
df.groupby('Distance').mean().head() [['Price']]

                 Price
Distance
0.0       6.711667e+05
0.7       5.792500e+05
1.2       6.472879e+05
1.3       1.261000e+06
1.5       1.492941e+06

**c. Rata-rata harga rumah yg luas tanahnya (Landsize) 1 kali standar deviasi di atas rata-rata luas tanah**

In [44]:
stdev=df['Landsize'].std()
stdev

3990.6692411090344

In [51]:
df.groupby(df[df['Landsize']>stdev]).mean()

ValueError: Grouper for '<class 'pandas.core.frame.DataFrame'>' not 1-dimensional

**d. Rentang harga (range) harga rumah (Price) pada region Southern Metropolitan**

In [56]:
region=df[df['Regionname']=='Southern Metropolitan']

In [62]:
df_range=df['Price'].max() - df['Price'].min()
df_range

8915000.0

# Nomor 3

**a.**

In [24]:
#q1
q1 = df['Price'].describe()['25%']
q1

650000.0

In [25]:
#q2
q2 = df['Price'].describe()['50%']
q2

903000.0

In [26]:
#q3
q3 = df['Price'].describe()['75%']
q3

1330000.0

In [27]:
#iqr
iqr = q3 - q1
iqr

680000.0

# Nomor 4

**a.**

In [30]:
from scipy.stats import shapiro

shapiro(df['Price'])

sw_statistic, sw_pvalue = shapiro(df['Price'])

if sw_pvalue > 0.05:
    print(f'P-Value: {sw_pvalue}. Dianggap sebagai distribusi normal')
else: 
    print(f'P-Value: {sw_pvalue}. Tidak dianggap sebagai distribusi normal')

P-Value: 0.0. Tidak dianggap sebagai distribusi normal

**b.**

In [36]:
from scipy.stats import normaltest

normaltest(df['Price'])

df_statistic, df_pvalue = normaltest(df['Price'])

if df_pvalue > 0.05:
    print(f'P-Value: {df_pvalue}. Dianggap sebagai distribusi normal')
else: 
    print(f'P-Value: {df_pvalue}. Tidak dianggap sebagai distribusi normal')

P-Value: 0.0. Tidak dianggap sebagai distribusi normal

# Nomor 5

In [37]:
df['Rooms'].corr(df['Price'],method='pearson')

0.49663367618653054

# Nomor 6

# Nomor 7

In [63]:
df['Distance'].corr(df['Price'],method='pearson')

-0.1625218378638254

# Nomor 8

# Nomor 9

# Nomor 10